modules = ["nodejs-20", "web", "python-3.12"]
run = "python3 manage.py runserver 0.0.0.0:3000"

[nix]
channel = "stable-24_05"
packages = ["cargo", "libiconv", "libxcrypt", "openssl", "pkg-config", "python-launcher", "rustc"]

[deployment]
run = ["sh", "-c", "python3 manage.py runserver 0.0.0.0:3000"]

[[ports]]
localPort = 3000
externalPort = 80
