<a
  href="#"
  class="front-button align-items-start ms-2 my-2 fs-3 d-none"
  onclick="window.history.forward(); return false;"
>
  <svg
    fill="#000000"
    width="256px"
    height="256px"
    viewBox="0 0 24 24"
    id="right-arrow"
    xmlns="http://www.w3.org/2000/svg"
    class="icon line"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <path
        id="primary"
        d="M3,12H21M18,9l3,3-3,3"
        style="
          fill: none;
          stroke: #000000;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 2;
        "
      ></path>
    </g>
</svg>

</a>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const state = window.history.state || {};
    if (state.idx === undefined) {
      state.idx = window.history.length - 1;
      window.history.replaceState(state, document.title);
    }
    const btn = document.querySelector(".front-button");
    if (
      window.innerWidth >= 992 &&
      state.idx < window.history.length - 1 &&
      btn
    ) {
      btn.classList.remove("d-none");
    }
  });
</script>
