<div class="modal fade" id="giphyModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleccionar GIF</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <form class="modal-body">
        <div class="input-group mb-3">
          <input type="text" name="q" class="form-control" placeholder="Buscar GIF">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
        <div class="giphy-results d-flex flex-wrap gap-2"></div>
      </form>
    </div>
  </div>
</div>
