{% load static utils_filters %}
<header
    class="navbar navbar-expand-lg bg-white {% if request.path != '/' %}border-bottom{% endif %}"
>
    <div class="container-fluid px-3">
        {% include 'partials/_header-logo.html' %} {% if request.path != '/' %}
        <span class="vr mx-3 d-none d-lg-block m-4"></span>
        <div class="d-none d-lg-block me-3">
            {% if user.is_authenticated and user.owned_clubs.first %}
                {% with owner_club=user.owned_clubs.first %}
                <li class="nav-item d-flex align-items-center ">
                    <a
                        href="{% url 'club_profile' owner_club.slug %}"
                        class="fw-medium small d-flex align-items-center"
                    >

                        {% if owner_club.logo %}
                        <img
                                src="{{ owner_club.logo|safe_url }}"
                                alt="{{ owner_club.name }}"
                                class="nav-avatar-img me-2"
                        />
                        {% endif %}
                        <span class="ms-2 d-none d-lg-inline">{{ owner_club.name }}</span>
                         <i class="ms-2 bi bi-eye"></i>
                    </a>
                </li>
                {% endwith %}
                {% endif %}
            
        </div>
 
        {% endif %}

        <ul class="navbar-nav align-items-center ms-auto">
              
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div
                        class="custom-dropdown p-0 small ms-4"
                        id="user-dropdown"
                    >
                        <div class="selected d-flex align-items-center">
                            {% if user.owned_clubs.first and user.owned_clubs.first.logo %}
                            <img
                                src="{{ user.owned_clubs.first.logo|safe_url }}"
                                alt="{{ user.username }}"
                                class="nav-avatar-img"
                            />
                            {% elif user.profile.avatar %}
                            <img
                                src="{{ user.profile.avatar|safe_url }}"
                                alt="{{ user.username }}"
                                class="nav-avatar-img"
                            />
                            {% else %}
                            <div class="nav-avatar">
                                {{ user.username|first|upper }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="dropdown-menu" id="user-menu">
                            <button
                                type="button"
                                id="sidebar-close"
                                class="position-absolute top-0 end-0 m-3 d-lg-none text-white bg-transparent border-0 fs-4"
                                aria-label="Cerrar"
                            >
                                &times;
                            </button>
                            <a
                                href="{% url 'profile' %}"
                                class="dropdown-item text-light"
                                >Mi Cuenta</a
                            >
                            {% if user.owned_clubs.exists %}
                            <a
                                href="{% url 'club_dashboard' %}"
                                class="dropdown-item text-light"
                                >Panel de control</a
                            >
                            {% endif %}
                            <a
                                href="{% url 'conversation' %}"
                                class="dropdown-item text-light"
                                >Mis mensajes</a
                            >
                            <a
                                href="#"
                                class="dropdown-item text-light"
                                onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
                            >
                                Cerrar sesión
                            </a>
                            <form
                                id="logout-form"
                                method="POST"
                                action="{% url 'logout' %}"
                                style="display: none"
                            >
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                </li>
                {% else %}

                <li class="nav-item">
                    <a
                        href="{% url 'login' %}?next={{ request.get_full_path }}"
                        class="nav-link fw-bold p-0 d-flex justify-content-between align-items-center gap-2"
                        >Iniciar Sesión

                        <svg
                            class="w-6 h-6 text-gray-800 dark:text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                            />
                        </svg>
                    </a>
                </li>

                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <button
                id="burger-button"
                class="navbar-toggler border-0 bg-transparent ms-2"
                type="button"
                aria-label="Toggle user menu"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}
    </div>
</header>
<div id="sidebar-overlay"></div>
