 
<form method="GET" action="{% url 'search_results' %}" id="main-search-form"
      class="main-search-form d-flex align-items-center my-3 position-relative {% if header %}header-search-form{% endif %}"
      style="max-width:  600px;  margin: 0 auto; z-index:10;"
      >
        <input
            type="text"
            name="q"
            id="search-input"
            class="search-input form-control border-0"
            placeholder="Buscar por ciudad o nombre"
            autocomplete="off"

        >

    <!-- Dropdown personalizado -->
    <div class="custom-dropdown category-dropdown" id="category-dropdown">
        <div class="selected">
            <span class="selected-text">Clubs</span>
            <span class="select-arrow"></span>
        </div>
        <div class="dropdown-menu category-menu" id="category-menu">
            <div class="dropdown-item" data-value="club">Clubs</div>
            <div class="dropdown-item" data-value="entrenador">Entrenadores</div>
            <div class="dropdown-item" data-value="promotor">Promotores</div>
            <div class="dropdown-item" data-value="servicio">Servicios</div>
        </div>
    </div>

    <!-- Input oculto -->
    <input type="hidden" name="category" id="category-input" class="category-input" value="club">

    <!-- Autocomplete -->
    <div class="autocomplete-wrapper bg-white position-absolute start-0 text-start"
         style="display: none; top:100%; width: 100%;">
        <div class="dropdown-option fw-medium d-flex small" id="use-location-option">
            <span class="me-1"><svg  style="width:20px;" id="Icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#000000;}</style></defs><path class="cls-1" d="M2,10c0,8.491,9.126,13.658,9.514,13.874a1,1,0,0,0,.972,0C12.874,23.658,22,18.491,22,10A10,10,0,0,0,2,10ZM12,2a8.009,8.009,0,0,1,8,8c0,6.274-6.2,10.68-8,11.83C10.2,20.68,4,16.274,4,10A8.009,8.009,0,0,1,12,2Z"/><path class="cls-1" d="M12,15a5,5,0,1,0-5-5A5.006,5.006,0,0,0,12,15Zm0-8a3,3,0,1,1-3,3A3,3,0,0,1,12,7Z"/></svg></span>
            <span>Más cercanos a ti</span>
        </div>
        <ul id="autocomplete-list" class="autocomplete-list list-unstyled" style="max-height:150px;"></ul>
    </div>

    <!-- Botón búsqueda -->
    <button type="submit" id="search-button" class="search-button px-2 py-1 ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke="currentColor"  >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-4.35-4.35m1.15-5.15a7 7 0 1 1-14 0 7 7 0 0 1 14 0z"/>
        </svg>
    </button>
</form>
 