 
<form method="GET" action="{% url 'search_results' %}" id="main-search-form"
      class=" d-flex align-items-center my-3 position-relative  {% if header %}header-search-form{% endif %}" 
      style="max-width:  600px;  margin: 0 auto; z-index:10;"
      > 
 
 
    <input 
    type="text"
    name="q"
    id="search-input"
    class="form-control border-0"
    placeholder="Ciudad, dirección o código postal"
    autocomplete="off"
>

 

    <!-- Dropdown personalizado -->
    <div class="custom-dropdown" id="category-dropdown">
        <div class="selected">
            <span class="selected-text">Clubs</span>
            <span class="select-arrow"></span>
        </div>
        <div class="dropdown-menu" id="category-menu">
            <div class="dropdown-item" data-value="club">Clubs</div>
            <div class="dropdown-item" data-value="entrenador">Entrenadores</div>
            <div class="dropdown-item" data-value="manager">Managers</div>
            <div class="dropdown-item" data-value="servicio">Servicios</div>
        </div>
    </div>

    <!-- Input oculto -->
    <input type="hidden" name="category" id="category-input" value="club">

    <!-- Autocomplete -->
    <div class="autocomplete-wrapper bg-white position-absolute start-0 text-start"
         style="display: none; top:100%; width: 100%;">
        <div class="dropdown-option fw-medium" id="use-location-option">
            📍 Usar ubicación actual
        </div>
        <ul id="autocomplete-list" class="list-unstyled" style="max-height:150px;"></ul>
    </div>

    <!-- Botón búsqueda -->
    <button type="submit" id="search-button" class=" px-2 py-1 ms-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 24 24" stroke="currentColor"  >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-4.35-4.35m1.15-5.15a7 7 0 1 1-14 0 7 7 0 0 1 14 0z"/>
        </svg>
    </button>
</form>
 