<div class="modal fade" id="shareProfileModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Compartir perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled row row-cols-2 mb-0">
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-link-45deg" style="margin-right:10px;"></i>
            <button type="button" class="btn btn-link share-copy p-0">Copiar enlace</button>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-envelope-fill" style="margin-right:10px;"></i>
            <a id="share-email" class="btn btn-link p-0" target="_blank">Correo electrónico</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-whatsapp" style="margin-right:10px;"></i>
            <a id="share-whatsapp" class="btn btn-link p-0" target="_blank">WhatsApp</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-messenger" style="margin-right:10px;"></i>
            <a id="share-messenger" class="btn btn-link p-0" target="_blank">Messenger</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-facebook" style="margin-right:10px;"></i>
            <a id="share-facebook" class="btn btn-link p-0" target="_blank">Facebook</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-instagram" style="margin-right:10px;"></i>
            <a id="share-instagram" class="btn btn-link p-0" target="_blank">Instagram</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-telegram" style="margin-right:10px;"></i>
            <a id="share-telegram" class="btn btn-link p-0" target="_blank">Telegram</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-twitter-x" style="margin-right:10px;"></i>
            <a id="share-x" class="btn btn-link p-0" target="_blank">X</a>
          </li>
          <li class="col d-flex align-items-center mb-2">
            <i class="bi bi-code-slash" style="margin-right:10px;"></i>
            <button type="button" class="btn btn-link share-embed p-0">Insertar</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
