<form method="post" class="profile-form"
      action="{% if booking_class %}{% url 'booking_class_update' booking_class.id %}{% else %}{% url 'booking_class_create' club.slug %}{% endif %}">
  {% csrf_token %}
 
  <div class="form-field">
    {{ form.titulo }}
    <button type="button" class="clear-btn bi bi-x"></button>
    <label for="{{ form.titulo.id_for_label }}">{{ form.titulo.label }}</label>
    {% if form.titulo.errors %}
    <div class="invalid-feedback d-block">
      {{ form.titulo.errors.as_text|striptags }}
    </div>
    {% endif %}
  </div>
 
  <div class="form-row d-flex gap-3">
    <div class="form-field flex-fill">
      {{ form.precio }}
      <button type="button" class="clear-btn bi bi-x"></button>
      <label for="{{ form.precio.id_for_label }}">{{ form.precio.label }}</label>
      {% if form.precio.errors %}
      <div class="invalid-feedback d-block">
        {{ form.precio.errors.as_text|striptags }}
      </div>
      {% endif %}
    </div>

    <div class="form-field flex-fill">
      {{ form.duracion }}
      <button type="button" class="clear-btn bi bi-x"></button>
      <label for="{{ form.duracion.id_for_label }}">{{ form.duracion.label }}</label>
      {% if form.duracion.errors %}
      <div class="invalid-feedback d-block">
        {{ form.duracion.errors.as_text|striptags }}
      </div>
      {% endif %}
    </div>
  </div>
 
  {% for field in form %}
    {% if field.name not in 'titulo precio duracion' %}
      {% if field.field.widget.input_type == 'checkbox' %}
      <div class="form-field checkbox-field">
        {{ field }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="invalid-feedback d-block">
          {{ field.errors.as_text|striptags }}
        </div>
        {% endif %}
      </div>
      {% else %}
      <div class="form-field">
        {{ field }}
        <button type="button" class="clear-btn bi bi-x"></button>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
        <div class="invalid-feedback d-block">
          {{ field.errors.as_text|striptags }}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
    {% endif %}
  {% endfor %}

  <button type="submit" class="btn btn-dark">Guardar</button>
</form>
