<form method="post" class="profile-form" action="{% url 'booking_class_create' club.slug %}">
  {% csrf_token %}
  {% for field in form %}
    {% if field.field.widget.input_type == 'checkbox' %}
    <div class="form-field checkbox-field">
      {{ field }}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors.as_text|striptags }}</div>{% endif %}
    </div>
    {% else %}
    <div class="form-field">
      {{ field }}
      <button type="button" class="clear-btn">×</button>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.errors %}<div class="invalid-feedback d-block">{{ field.errors.as_text|striptags }}</div>{% endif %}
    </div>
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-dark">Guardar</button>
</form>
