<div class="modal fade" id="editReviewModal{{ reseña.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h5 class="modal-title">Editar reseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'editar_reseña' reseña.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ reseña.edit_form.titulo }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mb-1">Instalaciones:</label>
                        <div class="star-rating mb-2" data-name="instalaciones" data-score="{{ reseña.instalaciones }}">
                            <input type="hidden" name="instalaciones">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mb-1">Entrenadores:</label>
                        <div class="star-rating mb-2" data-name="entrenadores" data-score="{{ reseña.entrenadores }}">
                            <input type="hidden" name="entrenadores">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mb-1">Ambiente:</label>
                        <div class="star-rating mb-2" data-name="ambiente" data-score="{{ reseña.ambiente }}">
                            <input type="hidden" name="ambiente">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mb-1">Calidad-precio:</label>
                        <div class="star-rating mb-2" data-name="calidad_precio" data-score="{{ reseña.calidad_precio }}">
                            <input type="hidden" name="calidad_precio">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label d-block mb-1">Variedad de clases:</label>
                        <div class="star-rating mb-2" data-name="variedad_clases" data-score="{{ reseña.variedad_clases }}">
                            <input type="hidden" name="variedad_clases">
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ reseña.edit_form.comentario }}
                    </div>
                    <button type="submit" class="btn btn-dark">Actualizar reseña</button>
                </form>
            </div>
        </div>
    </div>
</div>
