{% extends 'base.html' %}
{% block body_class %}club-profile-page d-flex flex-column min-vh-100{% endblock %}
{% load static  utils_filters %}
{% block content %}
    <main class="flex-grow-1">
        <div class="container-fluid mb-5 col-12 px-3 my-3" id="profile-container">
            <div class="profile-header d-flex align-items-center mb-4 mt-4  ">
                <div class="d-flex align-items-center breadcrumb">{% include 'partials/_breadcrumb.html' %}</div>
                <div class="d-none d-lg-flex ms-auto align-items-center gap-2">
                    {% include 'partials/utils/_book_class_button.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 ">
                    <div class="position-relative bg-black club-logo d-flex align-items-center justify-content-center">
                        {% if club.profilepic %}
                            <img src="{{ club.profilepic|safe_url }}"
                                 class="w-100 h-100"
                                 style="object-fit:cover"
                                 alt="{{ club.name }}">
                        {% else %}
                            <div class="d-flex align-items-center justify-content-center w-100 h-100"
                                 style="background: rgb(85, 85, 85)">
                                <span class="text-white fw-bold display-4">{{ club.name|initials }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="p-2 d-flex align-items-start justify-content-center justify-content-lg-start mt-2 mb-4 gap-3">
                        <ul class="p-0 club-info-links d-flex flex-column align-items-center align-items-lg-start text-center text-lg-start mx-auto mx-lg-0">
                            <div class="d-flex justify-content-center justify-content-lg-start mb-1">
                                <span class="badge  fw-medium">{{ club.get_category_display }}</span>
                            </div>
                            <h3 class="mt-1 mb-1 h5 fw-bold mb-2 text-center text-lg-start">
                                {% include 'partials/utils/_plan_club_badge.html' %}
                            </h3>
                            {% include 'partials/utils/_book_class_button.html' with club=club mobile_only=True %}
                            <li class="club-actions d-flex flex-row flex-lg-column flex-wrap justify-content-center align-items-center align-items-lg-start gap-2 mb-4">
                                {% include 'partials/utils/_become_club_member_button.html' %}
                                {% include 'partials/utils/_location_button.html' %}
                                {% include 'partials/utils/_send_message_button.html' %}
                                {% include 'partials/utils/_follow_profile_button.html' %}
                                {% include 'partials/utils/_share_profile_button.html' %}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Galeria -->
                    <div class="mb-4 rounded">
                        {% if club.photos.all %}
                            <div class="mb-4 gallery-slideshow position-relative">
                                {% for photo in club.photos.all %}
                                    <div class="gallery-slide{% if forloop.first %} active{% endif %}">
                                        <img src="{{ photo.image.url }}"
                                             alt="Foto"
                                             class="img-fluid rounded shadow-sm"
                                             style="width:100%;
                                                    max-height:500px;
                                                    min-height:500px;
                                                    object-fit:cover;
                                                    background-position:0 0;
                                                    user-select: none;
                                                    background:rgb(85, 85, 85)">
                                    </div>
                                {% endfor %}
                                {% include 'partials/utils/_gallery_control_button.html' %}
                                <div class="gallery-dots-container"
                                     style="position: absolute;
                                            bottom: 15px;
                                            width: 100%;
                                            display: flex;
                                            justify-content: center">
                                    <div class="gallery-dots d-flex gap-1">
                                        {% for photo in club.photos.all %}
                                            <span class="gallery-dot{% if forloop.first %} active{% endif %}"></span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="d-flex flex-column align-items-center">
                                <div class="gallery-placeholder rounded  d-flex flex-column align-items-center">
                                    <svg class="text-white"
                                         aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="60"
                                         height="60"
                                         fill="none"
                                         viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 16.5V6a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v10.5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm16 0-4-5-3 3-2-2-4 4" />
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.5 9.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
                                    </svg>
                                    <p class="mt-2 text-white text-center">No hay fotos todavía.</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% include 'core/components/_club_profile_tabs.html' %}
                    <!-- Contenido de pestañas -->
                    <div class="tab-content" id="clubTabsContent">
                        <!-- About -->
                        <div class="tab-pane fade show active" id="about" role="tabpanel">{% include 'core/components/_about.html' %}</div>
                        <!-- Horarios -->
                        <div class="p-3 tab-pane fade" id="schedule" role="tabpanel">{% include 'core/components/_horarios.html' %}</div>
                        <!-- Posts -->
                        <div class="p-3 tab-pane fade" id="posts" role="tabpanel">{% include 'core/components/_publicaciones.html' %}</div>
                        <!-- Competidores -->
                        <div class="p-3 tab-pane fade" id="competitors">{% include 'core/components/_competidores.html' %}</div>
                        <!-- Comentarios -->
                        <div class="p-3 tab-pane fade" id="comments">{% include 'core/components/_valoraciones.html' %}</div>
                    </div>
                    <!-- Columna Derecha: Valoraciones y Reseñas -->
                    <div class="col-12 col-md-6 col-lg-2">
                        {% if reseñas %}
                            <div class="club-reviews">
                                {% include 'core/components/_review_carrousel.html' %}
                                {% include 'core/components/_review_ratings.html' %}
                            </div>
                        {% else %}
                            <p class="mt-4">Este club aún no tiene reseñas.</p>
                        {% endif %}
                    </div>
                </div>
            </main>
            {% include 'partials/_review_modal.html' %}
            {% include 'partials/_share_profile_modal.html' %}
            {% include 'partials/_register_modal.html' %}
            {% include 'partials/_member_signup_modal.html' %}
            {% include 'partials/_booking_modal.html' %}
        </div>
        <script src="{% static 'js/review-filter.js' %}"></script>
        <script src="{% static 'js/slides.js' %}"></script>
        <script src="{% static 'js/rating.js' %}"></script>
        <script src="{% static 'js/share-like.js' %}"></script>
        <script src="{% static 'js/share-modal.js' %}"></script>
        <script src="{% static 'js/post-like.js' %}"></script>
        <script src="{% static 'js/gallery-slideshow.js' %}"></script>
        <script src="{% static 'js/schedule-status.js' %}"></script>
        <script src="{% static 'js/member-location.js' %}"></script>
        <script src="{% static 'js/member-signup-modal.js' %}"></script>
        <script src="{% static 'js/booking-modal.js' %}"></script>
        <script src="{% static 'js/club-tabs.js' %}"></script>
        <script src="{% static 'js/post-media-preview.js' %}"></script>
    {% endblock %}
