{% for reseña in reseñas %}
  <div class="mb-3 rounded p-4 border position-relative" style="min-height: 120px;">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          {% if reseña.usuario.profile.avatar %}
          <img src="{{ reseña.usuario.profile.avatar.url }}" alt="{{ reseña.usuario.username }}" class="review-avatar-img rounded-circle">
          {% else %}
          <div class="review-avatar">{{ reseña.usuario.username|first|upper }}</div>
          {% endif %}
          <div class="fw-medium ms-2">{{ reseña.usuario.username }}</div>
        </div>
      <div class=" fw-bold  ">⭐ {{ reseña.promedio }}</div> 

    </div>
    <p class="mb-3 review-text">{{ reseña.comentario }}</p>
    <div class="position-absolute text-muted small " style="bottom: 1rem; right: 1rem;">
      {{ reseña.creado|date:"SHORT_DATE_FORMAT" }}
    </div>
    {% if user.is_authenticated and user == reseña.usuario %}
      <div class="mt-2">
        <a href="{% url 'editar_reseña' reseña.id %}" class="btn btn-sm btn-link">Editar</a>
        <form action="{% url 'eliminar_reseña' reseña.id %}" method="post" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-link text-danger">Eliminar</button>
        </form>
      </div>
    {% endif %}
  </div>
{% empty %}
  <p class="text-muted">Este club todavía no tiene comentarios escritos.</p>
{% endfor %}
