/* Avatar in navigation dropdown */
.nav-avatar-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-avatar {
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

/* Divider next to header logo */
.header-divider {
    height: 30px;
    margin: 0 10px;
    border-left: 1px solid #dee2e6;
}