/* ========================================
    1. Imports
   ======================================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* ========================================
   CSS Reset
   ======================================== */

/* 1. Reset basic elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}

/* 2. Modernizing HTML5 elements */
body,
html {
    font-family: 'Inter';
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
}



img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1rem;
}


a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    color: #000000 !important;
}


button,
a {
    transition: all 0.2s ease-in-out;
}



ul,
ol {
    list-style: none;
}


/* 4. Responsive Typography (20% smaller) */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #000000;
}

h1 {
    font-size: 2.8rem;
    /* 3.5 * 0.8 */
    font-weight: 900;
}

h2 {
    font-size: 2.4rem;
    /* 3.0 * 0.8 */
    font-weight: 900;
}

h3 {
    font-size: 1.6rem;
    /* 2.0 * 0.8 */
    font-weight: 700;
}

h4 {
    font-size: 1.28rem;
    /* 1.6 * 0.8 */
}

h5 {
    font-size: 1.04rem;
    /* 1.3 * 0.8 */
}

h6 {
    font-size: 0.88rem;
    /* 1.1 * 0.8 */
}

p {
    margin-bottom: 1rem;
    font-size: 1rem;
}


/* ========================================
    2. Custom Styles
   ======================================== */

/* Hover en enlaces principales: gris */

/* Hover en enlaces del aux footer: subrayado */
.hover-underline:hover {
    text-decoration: underline !important;
}

.svg-arrow-left {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.svg-arrow-left:hover {
    transform: scaleX(1.3);
    /* alarga horizontalmente un 30% */
}


.back-button, .front-button{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    padding: 0;
}

.back-button, .front-button svg {
    width: 25px;
    height: 25px;
}


.container-fluid {
    max-width: 1600px;
}

#loader {
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#loader.hidden {
    opacity: 0;
    visibility: hidden;
}



/* Animación de shake y borde rojo */
.form-error {
    animation: shake 0.3s;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 5px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Estilo para checkboxes en negro y blanco */
input[type="checkbox"] {
    accent-color: #000;
}



.button-dark-outline {
    background: #ffffff;
    color: black !important;
    border: 1px solid black;
    padding: 5px;
}

.button-dark-outline:hover {
    background: black;
    color: white !important;
    transition: all 280ms ease-in-out;


}

.nav-link {
    font-size: 16px;

}
