.pro-hero {
    background-color: #000;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.pro-hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

 

.pro-floating-box {
    background-color: #fff; 
    color: #000;
    border-radius: 0.5rem; 
}

   .btn-hover-arrow {

    background-color: rgb(175, 175, 175);
    transition: background-color 0.3s ease;
  }

  .btn-hover-arrow:hover {
    background-color: rgb(167, 167, 167) !important;
  }

  .btn-hover-arrow i {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .btn-hover-arrow:hover i {
    transform: translateX(6px);
  }