.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
  padding: 0 40px;
  list-style: none;
  counter-reset: step;
}

.progress-steps::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% - 80px);
  background: #d7d7d7;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  z-index: 0;
}

.step-item {
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight:400;
  position: relative;
  z-index: 1;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  color:#d7d7d7;
}

/* numeración automática */
.step-item::before {
  counter-increment: step;
  content: counter(step);
}

/* estado activo y completado */
.step-item.active,
.step-item.completed {
  border-color:#000;
  background:#000;
  color: white;
}
