#searchModal.modal {
    padding: 0 !important;
}

#searchModal .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100vh;
}

#searchModal .modal-content {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#searchModal .modal-header {
    background: #000;
    justify-content: center;
    position: relative;
}

#searchModal .modal-header img {
    height: 60px;
}

#searchModal .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #000;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(1);
}

#searchModal .modal-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}