 body.search-result-page {
       background-color: #fdfdfd;

}

/* Ajustes para mantener logos sin deformarse */
.card-img-top {
  object-fit: cover;
}

/* Card limpia sin subrayado al hacer hover */
.card a:hover {
  text-decoration: none; 
}
.back-button {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.back-button:hover {
    text-decoration: underline;
}
