<button type="button"
        class="signup-member-btn fw-medium d-flex flex-column flex-lg-row align-items-center gap-1 mb-1"
        data-club-slug="{{ club.slug }}">
    <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white"
         aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="26"
         height="26"
         fill="none"
         viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
    </svg>
    Inscribirse
</button>
