<button id="club-heart"
        aria-label="Seguir"
        data-url="{% url 'toggle_follow' 'club' club.id %}"
        class="fw-medium {% if club_followed %}liked{% endif %} d-flex flex-column flex-lg-row align-items-center gap-1 mb-1">
    <svg aria-hidden="true"
         xmlns="http://www.w3.org/2000/svg"
         width="26"
         height="26"
         fill="none"
         viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
    </svg>
    Añadir a favoritos
</button>
