 
{% extends 'clubs/base.html' %}
{% load static %}

{% block content %}
<div class="hero-footer-wrapper"> 
    <section class="hero"> 
        <div class="container hero-wrapper">
            <div class="hero-text">
                <h1>Boxeo Local.Impacto Global.</h1>
                <p>Explora nuestro directorio verificado de clubs de boxeo y empieza a entrenar con la mejor esquina.</p>
            
                {% if not search_query %}
                {% include 'partials/_search_form.html' %}
                  {% endif %}   
                
            </div>
        </div>
    </section> 
</div>
{% endblock %}

