{% extends 'base.html' %}
{% load static %}
{% block body_class %}d-flex flex-column min-vh-100{% endblock %}
{% block header_class %}header-hero-page{% endblock %}

{% block content %}
<main class="flex-grow-1">
    <div class="col-10 container-fluid py-1">
        <section class="hero text-center">
            <div class="hero-wrapper">
                <div class="hero-text">
                    <h1 class="display-1 fw-bold">404</h1>
                    <p class="fs-5 p-1">Lo sentimos, la página que buscas no existe.</p>
                    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}
