<!-- Menú de pestañas -->
<ul class="border-bottom nav custom-tab-menu mb-3  justify-content-center"
    id="clubTabs"
    role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="about-tab"
                data-bs-toggle="tab"
                data-bs-target="#about"
                type="button"
                role="tab">Sobre el club</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="schedule-tab"
                data-bs-toggle="tab"
                data-bs-target="#schedule"
                type="button"
                role="tab">Horarios</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="posts-tab"
                data-bs-toggle="tab"
                data-bs-target="#posts"
                type="button"
                role="tab">Publicaciones</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="competitors-tab"
                data-bs-toggle="tab"
                data-bs-target="#competitors"
                type="button"
                role="tab">Competidores</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="comments-tab"
                data-bs-toggle="tab"
                data-bs-target="#comments"
                type="button"
                role="tab">Valoraciones</button>
    </li>
</ul>
