<div class="table-actions">
    <span class="fst-italic" id="open-status"></span>
</div>
<div class="table-responsive mt-3">
    <table class="table table-bordered text-center align-middle mb-0"
           style="min-width: 700px;
                  font-size:14px">
        <thead class="table-dark">
            <tr>
                {% for dia, nombre in club.horarios.model.DiasSemana.choices %}<th scope="col">{{ nombre }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for dia, nombre in club.horarios.model.DiasSemana.choices %}
                    <td class="schedule-day" data-day="{{ dia }}">
                        {% with horarios_dia=club.horarios.all|dictsort:"hora_inicio" %}
                            {% for h in horarios_dia %}
                                {% if h.dia == dia %}
                                    {% if h.estado == 'abierto' %}
                                        <div class=" py-1  schedule-item"
                                             data-start="{{ h.hora_inicio|time:'H:i' }}"
                                             data-end="{{ h.hora_fin|time:'H:i' }}">
                                            {{ h.hora_inicio|time:"H:i" }} - {{ h.hora_fin|time:"H:i" }}
                                        </div>
                                    {% elif h.estado == 'cerrado' %}
                                        <div class="  py-1    ">Cerrado</div>
                                    {% else %}
                                        <div class="  py-1    ">{{ h.estado_otro }}</div>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                <span class="">—</span>
                            {% endfor %}
                        {% endwith %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
