{% load static %}
<footer class="container site-footer">
  <div class="footer-main">
      <div class="footer-logo">  
         
        
       </div>
       

      <ul class="footer-links">
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">F.A.Q</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#"><img src="{% static 'clubs/img/instagram-icon.svg' %}" alt="Instagram"></a>   </li>
      </ul>
  </div>
  
  <div class="aux-footer">
      <div class="aux-footer-left">
          © 2025 ClubsDeBoxeo.com | 
          <span>Todos los derechos reservados</span>
      </div>
      <div class="aux-footer-right">
          <a href="#">Términos y Condiciones</a>
          <a href="#">Política de Privacidad</a>
          <a href="#">Política de Cookies</a>
      </div>
  </div>
</footer>

 

